* {
  font-family: "Roboto", sans-serif;
  color: #ffffff;
}
a {
  text-decoration: none;
}
p,
a {
  font-size: 18px;
  line-height: 18px;
}
body {
  width: 1366px;
  background: no-repeat;
  background-image: url("../img/background.png");
  display: flex;
  flex-direction: column;
  justify-items: center;
  align-items: center;
}
header {
  display: flex;
  justify-content: space-between;
  width: 1028px;
  margin: 51px auto 22px;
}

.logo {
  display: flex;
  gap: 8px;
}
.container_logo_svg {
  width: 53px;
  height: 46px;
  margin: 4px;
  background-image: url("../img/logo.svg");
}
.logo_text {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 0;
}
.logo_text p:first-child {
  font-weight: 700;
  font-size: 29px;
  line-height: 29px;
}

.contacts {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-end;
}
.menu {
  width: 1030px;
  display: flex;
  flex-wrap: wrap;
  column-gap: 61px;
  row-gap: 37px;
  margin-bottom: 49px;
}
.menu_text {
  margin-top: 20px;
}
.menu_item {
  text-align: center;
  position: relative;
}
.menu_item_img {
  width: 300px;
  height: 220px;
  overflow: hidden;
  border-style: solid;
  border-width: 0 2px;
  border-image: linear-gradient(180deg, #000000 0%, #ffffff 100%) 27;
  box-sizing: border-box;
}

footer p {
  font-size: 12px;
  line-height: 12px;
}
.orange_die {
  width: 100%;
  height: 0;
  box-sizing: border-box;
  background-color: #f26522;
  display: flex;
  justify-content: space-between;
  padding: 7px 14px 12px 16px;
  top: 220px;
  left: -1px;
}
.left_part_die {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
}
.from {
  font-size: 10px;
  line-height: 10px;
}
.fifty_euro {
  font-size: 20px;
  line-height: 20px;
}
.view_details {
  font-size: 14px;
  line-height: 14px;
  margin-top: 22px;
}
.view_details::after {
  content: url("../img/Vector1.svg");
  margin-left: 16px;
}
a:hover {
  color: #f26522;
}
.logo_link:hover .logo_text p {
  color: #f26522;
}
.logo_link:hover .container_logo_svg {
  background-image: url("../img/logo2.svg");
}
.menu_item:hover .menu_text {
  color: #f26522;
}
.menu_item:hover .menu_item_img {
  box-sizing: border-box;
}
.menu_item:hover .orange_die {
  position: absolute;
  height: 55px;
  top: 165px;
  transition: 0.6s;
}
